<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>
<%- include("partials/navbar") -%>

<!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="row">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">All Users</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>User Name</th>
                  <th>User Type</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>User Name</th>
                  <th>User Type</th>
                </tr>
              </tfoot>
              <tbody>
                <% open.forEach((user) => { %>
                <tr>
                  <td><a href="/profile/<%= user.id %>"><%= user.id %></a></td>
                  <td><%= user.name %></td>
                  <td><%= user.user_name %></td>
                  <td><%= user.user_type %></td>
                </tr>
                <% });%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
