<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>
<%- include("partials/navbar") -%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Open Tickets</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= openCount %></div>
            </div>
            <div class="col-auto">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">My Tickets</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= myCount %></div>
            </div>
            <div class="col-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">All Tickets</h1>
    </div>
    <div class="row">
      <p class="mb-4">View of all open tickets</p>
    </div>
    <div class="row bt-vert-spacer">
      <a href="/newProject" class="btn btn-primary btn-icon-split bt-hz-spacer1">
        <span class="icon text-white-50">
          <i class="fas fa-flag"></i>
        </span>
        <span class="text">New Project</span>
      </a>
      <a href="/newTicket" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-flag"></i>
        </span>
        <span class="text">New Ticket</span>
      </a>
    </div>
    <div class="row">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">All Tickets</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Ticket #</th>
                  <th>Title</th>
                  <th>Severity</th>
                  <th>Project</th>
                  <th>Assigned To</th>
                  <th>Status</th>
                  <th>Category</th>
                  <th>Ticket Opened</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Ticket #</th>
                  <th>Title</th>
                  <th>Severity</th>
                  <th>Project</th>
                  <th>Assigned To</th>
                  <th>Status</th>
                  <th>Category</th>
                  <th>Ticket Opened On</th>
                </tr>
              </tfoot>
              <tbody>
                <% open.forEach((ticket) => { %>
                  <tr>
                    <td><a href="/ticket/<%= ticket.id %>"><%= ticket.id %></a></td>
                    <td><%= ticket.title %></td>
                    <td><%= ticket.severity %></td>
                    <td><%= ticket.project_name %></td>
                    <td><%= ticket.assigned_name %></td>
                    <td><%= ticket.status_name %></td>
                    <td><%= ticket.category %></td>
                    <td><%= ticket.created_timestamp %></td>
                  </tr>
                <% });%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


<%- include("partials/footer") -%>
