<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>
<%- include("partials/navbar") -%>

  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <form class="" action="/newprofile" method="post">
      <h1 class="container h3 mb-4 text-gray-800">New User </h1>
      <div class="container bt-container bt-container2 bt-vert-spacer bt-header-spacer">
        <div class="bt-block bt-vert-spacer">
          <input type="text" name="first_name" placeholder="First Name" class="bt-outline bt-gray-text bt-vert-spacer bt-hz-spacer1 "/>
          <input type="text" name="last_name" placeholder="Last Name" class="bt-outline bt-gray-text bt-vert-spacer"/>
        </div>
        <div class="bt-block bt-vert-spacer">
          <input type="email" name="email" placeholder="Email address" class="bt-block bt-outline bt-gray-text bt-vert-spacer bt-input-framing form-control">
        </div>
        <div class="bt-block bt-vert-spacer">
          <label for="phone_number">Phone Number:</label>
          <br/>
          <input type="tel" name="phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" class="bt-outline bt-gray-text bt-vert-space bt-hz-spacer1 "/>
          <input type="tel" name="extension" placeholder="ext." class="bt-outline bt-gray-text bt-vert-spacer" pattern="[0-9]" />
        </div>
        <div class="bt-block bt-vert-spacer">
          <input type="text" name="address_1" placeholder="Address 1" class="bt-outline bt-gray-text bt-vert-spacer form-control"/>
        </div>
        <div class="bt-block bt-vert-spacer">
          <input type="text" name="address_2" placeholder="Address 2" class="bt-outline bt-gray-text bt-vert-spacer form-control"/>
        </div>
        <div class="bt-block bt-vert-spacer">
          <input type="text" name="city" placeholder="City" class="bt-outline bt-gray-text bt-vert-spacer bt-hz-spacer1"/>
          <select class="bt-outline bt-gray-text bt-vert-spacer bt-hz-spacer1" name="state">
            <% states.forEach((state) => { %>
              <option value="<%= state.val %>"><%= state.name %></option>
            <% })%>
          </select>
          <input type="text" name="zipcode" placeholder="Zipcode" class="bt-outline bt-gray-text bt-vert-spacer"/>
        </div>
        <div class="bt-block bt-vert-spacer">
          <label for="categories">User Type:</label><br>
          <select class="bt-outline bt-gray-text bt-vert-spacer bt-hz-spacer1" name="categories">
            <% categories.forEach((cat) => { %>
              <option value="<%= cat.val %>"><%= cat.cat_name %></option>
            <% })%>
        </div>
        <div class="bt-block bt-vert-spacer">
          <input type="text" name="auth0" placeholder="Auth0 ID" class="bt-outline bt-gray-text bt-vert-spacer form-control"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-icon-split bt-vert-spacer">
        <span class="icon text-white-50">
          <i class="fas fa-flag"></i>
        </span>
        <span class="text">Submit</span>
      </button>
    </form>
  </div>
</div>

<%- include("partials/footer") -%>
