<%- include("partials/header") -%>
<%- include("partials/sidebar") -%>
<%- include("partials/navbar") -%>

  <!-- Begin Page Content -->
  <div class="container-fluid" id="projectPage">
    <form class="" action="/project" method="post">
      <!-- Project definition -->
      <h1 class="h3 mb-4 text-gray-800 container">Project #<%= project.id%> <%= project.project_name%>  </h1>
      <div class="container bt-container bt-container1 bt-vert-spacer bt-header-spacer">
        <label for="project_name" class="text-gray-800 bt-hz-spacer1 bt-block">Project Name: </label>
        <input type="text" name="project_name" placeholder="Project Name" class="bt-block bt-outline bt-gray-text bt-vert-spacer bt-input-framing form-control" value="<%= project.project_name %>">
        <textarea name="project_description" placeholder="Project Description" rows="8" cols="60" class="bt-block bt-outline bt-gray-text bt-vert-spacer bt-input-framing form-control"><%= project.project_description %></textarea>
        <div class="bt-block bt-vert-spacer">
          <label for="category" class="text-gray-800 bt-hz-spacer1 bt-block">Category: </label>
          <select id="category" name="category" class="bt-outline bt-gray-text bt-input-framing">
            <% categories.forEach(function(category){ %>
              <% if (category.id === project.category) { %>
                <option value="<%= category.id %>" selected><%= category.category_name %></option>
              <% } else { %>
                <option value="<%= category.id %>"><%= category.category_name %></option>
              <% } %>
            <% }); %>
          </select>
          <div class="">
              Project created by: <%= project.created_by %>
          </div>
          <div class="">
              Creation time: <%= project.created_timestamp %>
          </div>
          <div class="">
              Last Updated: <%= project.lastupdate %>
          </div>
          <input type="hidden" name="proj_id" value="<%= project.id%>" />
        </div>

        <!-- Desired Features -->
        <div class="header">
          <label for="desired_feature" style="margin:5px">Desired Features</label>
          <div class="bt-block">
            <input type="text" id="df-input" placeholder="Features..." name="df-input" class="bt-outline bt-gray-text bt-list-spacer bt-input-framing">
            <span onclick="newDF()" id="df-btn" class="bt-addBtn">Add</span>
            <input type="hidden" id="features" name="features" value="<%= features  %>" />
          </div>
        </div>

        <ul id="dfUL" name="desired_features" class="bt-ul-df">
        </ul>

        <!-- Languages and Platforms -->
        <div  class="header">
          <label for="language-input" style="margin:5px">Languages and Platforms</label>
          <div class="bt-block">
            <input type="text" id="language-input" placeholder="Language..." name="language-input" class="bt-outline bt-gray-text bt-list-spacer bt-input-framing">
            <span onclick="newLP()" id="lang-btn" class="bt-addBtn">Add</span>
            <input type="hidden" id="languages" name="languages" value="<%= languages %>" />
          </div>
        </div>

        <ul id="lpUL" name="language-items" class="bt-ul-lp">
        </ul>

        <!-- Sprints -->
        <div class="header">
          <label for="sprints-input" style="margin:5px">Sprints</label>
          <div class="bt-block">
            <input type="text" id="sprints-input" placeholder="Sprint Item..." name="sprints-input" class="bt-outline bt-gray-text bt-list-spacer bt-input-framing" />
            <span onclick="newSprint()" id="sprint-btn" class="bt-addBtn">Add</span>
            <input type="hidden" id="sprints" name="sprints" value="<%= sprints %>" />
          </div>
        </div>

        <ul id="sUL" name="sprint_items" class="bt-ul-sprints">
        </ul>

        <!-- Documentation -->


        <!-- Submit button -->
        <div class="bt-block bt-vert-spacer">
          <input type="text" name="lastUpdatedBy" id="lastUpdatedBy" value="<%= user_id %>" class="bt-no-display">
          <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-flag"></i>
            </span>
            <span class="text">Submit</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Custom script for creating a list that adds items -->
<script src="/js/list.js"></script>

<%- include("partials/footer") -%>
